$eg-c-bright: #ffffff;

$eg-c-primary: #9d8b73;
$eg-c-primary-dark: #6c5647;
$eg-c-primary-darker: #4a3a2f;
$eg-c-primary-light: #c1b5a4;
$eg-c-primary-ligther: #ebe7e0;
$eg-c-on-primary: $eg-c-bright;

$eg-c-secondary: #7b909c;
$eg-c-secondary-dark: #4d5d66;
$eg-c-secondary-light: #b3c3cc;
$eg-c-on-secondary: $eg-c-bright;

$eg-c-success: #48a735;
$eg-c-danger: #cf4526;
$eg-c-warning: #ffa100;

$eg-c-gray-900: black;
$eg-c-gray-800: rgba(0, 0, 0, 0.8);
$eg-c-gray-700: rgba(0, 0, 0, 0.7);
$eg-c-gray-600: rgba(0, 0, 0, 0.6);
$eg-c-gray-500: rgba(0, 0, 0, 0.5);
$eg-c-gray-400: rgba(0, 0, 0, 0.4);
$eg-c-gray-300: rgba(0, 0, 0, 0.3);
$eg-c-gray-200: rgba(0, 0, 0, 0.2);
$eg-c-gray-100: rgba(0, 0, 0, 0.1);
$eg-c-gray-50: rgba(0, 0, 0, 0.05);
$eg-c-gray-40: rgba(0, 0, 0, 0.04);

$eg-c-background: #f2f3f2;

$eg-c-overlay: rgba(0, 0, 0, 0.3);

$eg-c-category-default: #a7a4a2;

$eg-brown-800: #41332a;
$eg-brown-700: #544236;
$eg-brown-600: #6c5647;
$eg-brown-500: #7e6e58;
$eg-brown-400: #9d8b73;
$eg-brown-300: #d5cdc3;
$eg-brown-200: #eeebe7;
$eg-brown-100: #fbfaf9;
