// base colors - brown
$eg-brown-800: #41332a;
$eg-brown-700: #544236;
$eg-brown-600: #6c5647;
$eg-brown-500: #7e6e58;
$eg-brown-400: #9d8b73;
$eg-brown-300: #d5cdc3;
$eg-brown-200: #eeebe7;
$eg-brown-100: #fbfaf9;

// base colors - blue
$eg-blue-800: #2a3441;
$eg-blue-700: #364454;
$eg-blue-600: #47586c;
$eg-blue-500: #5e7087;
$eg-blue-400: #8192a7;
$eg-blue-300: #b7c1cc;
$eg-blue-200: #e7eaee;
$eg-blue-100: #f9fafb;

$eg-c-bright: #ffffff;

// functional colors
$eg-c-primary: $eg-brown-500;
$eg-c-primary-dark: $eg-brown-600;
$eg-c-primary-darker: $eg-brown-800;
$eg-c-primary-light: $eg-brown-300;
$eg-c-primary-lighter: $eg-brown-200;
$eg-c-primary-lightest: $eg-brown-100;
$eg-c-on-primary: $eg-c-bright;

$eg-c-secondary: $eg-blue-500;
$eg-c-secondary-dark: $eg-blue-600;
$eg-c-secondary-darker: $eg-blue-800;
$eg-c-secondary-light: $eg-blue-300;
$eg-c-secondary-lighter: $eg-blue-200;
$eg-c-secondary-lightest: $eg-blue-100;
$eg-c-on-secondary: $eg-c-bright;

$eg-c-success: #48a735;
$eg-c-danger: #cf4526;
$eg-c-warning: #ffa100;

$eg-c-gray-900: black;
$eg-c-gray-800: rgba(0, 0, 0, 0.8);
$eg-c-gray-700: rgba(0, 0, 0, 0.7);
$eg-c-gray-600: rgba(0, 0, 0, 0.6);
$eg-c-gray-500: rgba(0, 0, 0, 0.5);
$eg-c-gray-400: rgba(0, 0, 0, 0.4);
$eg-c-gray-300: rgba(0, 0, 0, 0.3);
$eg-c-gray-200: rgba(0, 0, 0, 0.2);
$eg-c-gray-100: rgba(0, 0, 0, 0.1);
$eg-c-gray-50: rgba(0, 0, 0, 0.05);
$eg-c-gray-40: rgba(0, 0, 0, 0.04);

$eg-c-background: #f2f3f2;

$eg-c-overlay: rgba(0, 0, 0, 0.3);

$eg-c-category-default: #a7a4a2;
