@import './eg-colors';
@import '~/assets/theme/primeflex/core/_variables.scss';

$c-background: #f2f3f2;

body {
    font-family: 'Lato', 'SF Pro', 'SF Pro Display', 'Helvetica Neue',
        'Helvetica', 'PingFang TC', 'Noto Sans TC', 'Arial', 'Microsoft YaHei',
        sans-serif;
    letter-spacing: 0.5px;
    margin: 0;
    background-color: $c-background;
}

.p-datatable-hide-thead thead {
    display: none;
}

.p-selectbutton--stretch {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

:root {
    --app-header-height: 60px;
    @media (max-width: $lg) {
        --app-header-height: 48px;
    }

    --app-background-color: #{$c-background};
}
