@import './eg-colors';
@import '~/assets/theme/primeflex/core/_variables.scss';

/* custom CSS properties */
:root {
    --app-header-height: 48px;
    @media (min-width: $lg) {
        --app-header-height: 60px;
    }

    --app-background-color: #{$eg-c-background};
    --max-page-width: 1440px;
}

/* reset & normalize */
body {
    font-family: 'Lato', 'SF Pro', 'SF Pro Display', 'Helvetica Neue',
        'Helvetica', 'PingFang TC', 'Noto Sans TC', 'Arial', 'Microsoft YaHei',
        sans-serif;
    letter-spacing: 0.5px;
    margin: 0;
    background-color: var(--app-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* prime components customization */
.p-datatable-hide-thead {
    thead {
        display: none;
    }
    tr:last-child td {
        border-bottom: 0;
    }
}

.p-selectbutton--stretch {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.p-inputnumber.text-right .p-inputtext {
    text-align: right !important;
}

/* utility class */
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hide-in-mobile {
    @media (max-width: 991px) {
        display: none !important;
    }
}

.container {
    max-width: var(--max-page-width);
    margin: auto;
    padding: 16px;
    @media (min-width: $lg) {
        padding: 24px;
    }
}

.page-container {
    max-width: var(--max-page-width);
    min-height: 100vh;
    margin: auto;
    padding: 16px;

    @media (min-width: $lg) {
        padding: 24px;
    }
}
