$c-background: #f2f3f2;

body {
    font-family: 'SF Pro', 'SF Pro Display', 'Helvetica Neue', 'Helvetica',
        'PingFang TC', 'Noto Sans TC', 'Arial', 'Microsoft YaHei', sans-serif;
    letter-spacing: 0.5px;
    margin: 0;
    background-color: $c-background;
}
